/*======================================================
                    FOOTER
======================================================*/

.footer{

    background:#052850;

    color:#fff;

    width:100%;

    overflow:hidden;
    padding-top:70px;

padding-bottom:35px;

}
.footer-bottom{

display:flex;

justify-content:space-between;

align-items:center;

padding:18px 0;

}
.footer-divider{

margin-top:40px;

margin-bottom:24px;

background:rgba(255,255,255,.28);

height:1px;

}
.footer-wrapper{

    width:100%;

    display:flex;

    flex-direction:column;

}

.footer-top{

    width:100%;

    display:flex;

    justify-content:center;

    padding:40px 0 20px;

}

.footer-container{

    width:80%;

    max-width:1440px;

    margin:0 auto;

}

.footer-grid{

    display:grid;

    grid-template-columns:68% 32%;

    gap:60px;

}

.footer-left{

    display:flex;

    flex-direction:column;

    justify-content:space-between;

}

.footer-right{

    display:flex;

    flex-direction:column;

    gap:28px;
    width:340px;

margin-left:auto

}
/*======================================================
                FOOTER LINKS
======================================================*/

.footer-links{

    display:flex;

    align-items:center;


    flex-wrap:wrap;
    

gap:40px;

align-items:center;

}

.footer-link{

    color:#fff;

    text-decoration:none;

    font-size:16px;

    font-weight:500;

    transition:.25s;

}

.footer-link:hover{

    opacity:.75;

}
.footer-logo{

    margin-top:42px;

}

.footer-logo img{

    width:250px;

    display:block;

}
.office{

    display:flex;

    gap:18px;

    align-items:flex-start;

}

.office-icon{

    width:30px;

    flex-shrink:0;

}

.office-content{

    display:flex;

    flex-direction:column;

}

.office-title{

    font-size:18px;

    font-weight:700;

    margin-bottom:6px;

}

.office-address{

    font-size:15px;

    line-height:1.8;

    padding-bottom:8px;

    border-bottom:1px solid rgba(255,255,255,.35);

}
.footer-logo{

    margin-top:70px;

}

.footer-logo img{

    width:220px;

}
