.enterprise-dropdown{
    position:static;
}

.enterprise-menu{
    position:absolute;
    left:50%;
    top:86px;

    width:min(1400px,92vw);

    transform:translateX(-50%);

    margin-top:18px;
}
.enterprise-dropdown:hover .enterprise-menu{
    opacity:1;
    visibility:visible;
    pointer-events:auto;

    transform:translateX(-50%) translateY(0);
}