/* ==========================================
   USECASE FILTER
========================================== */

.cards-wrapper-usecase .w-dyn-items{
    display:grid;
    grid-template-columns:repeat(2,minmax(0,1fr));
    gap:24px;
}

.cards-wrapper-usecase .filter-item{
    display:block;
}

.cards-wrapper-usecase .usecase-card{
    height:100%;
    display:flex;
    flex-direction:column;
}